body{
    max-width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    background-color: 	rgba(0, 47, 135, 0.104);
    color: rgb(0, 47, 135);
    font-weight: 0;
}



.site_header{
    background: rgb(0, 47, 135);
    height: 100px;
    z-index: 999;
}

.site_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to top, rgb(160, 158, 158), rgb(255, 255, 255) 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-backface-visibility: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 0px;
    padding-top: 2%;
    position: static;
    opacity: 10%;
}

.header-bar{
    height: 40px;
    position: sticky;
    background-color: #000000d6;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
}

.header-bar_container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    max-width: 100px;
    margin: 0 auto;
    padding: 0 0px;
}

.header-bar_item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: px;
    color: #ffffff;
    align-items: center;
    text-decoration: none;
    height: 100%;
    border-radius: 4px;
    padding-top: 44px;
    padding: 0 6px;
    font-size: 17px;
    transition: background-color 10s ease;
    margin-left: 0%;
}

.header-bar_item:hover{
    color: rgb(100,149,237);
    transition: color 0.5s, box-shadow 0.3s;
}





.os_title{
    text-align: center;
}
/*.order_info_container{
    background-color: rgb(0, 47, 135);
    color: #ffffff;
    width: 300px;
    height: 500px;
    margin-top: 75px;
    margin-left: 20px;
}*/
.pd_title{
    text-align: center;
}
/*.card_info_container{
    width: 800px;
    margin-left: 370px;
    margin-top: -480px;
}*/




.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 10px;
}

.StripeElement--focus {
    border-color: #6772e5;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.stripe-button {
    background: rgb(0, 47, 135);
    color: white;
    border: none;
    padding: 12px;
    width: 40%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    transition: background 0.2s;
    margin-left: 245px;
}

.stripe-button:hover {
    background: #040c36;
}

#card-errors {
    color: #fa755a;
    margin-top: 10px;
    font-size: 14px;
}

.card-row {
    display: flex;
    gap: 10px;
}

.card-col {
    flex: 1;
}



















.footer{
    background: rgb(0, 47, 135);
    height: 150px;
    z-index: 999;
    margin-top: 800px;
}

